body { 
  background-image : url('https://cdn.discordapp.com/attachments/856353235216236554/890231427596181544/unknown.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}