
#Tilte {
  font-family: sans-serif;
  font-size: x-large;
  text-align:center;
  color: white;
  width: 135%;
  height:10px;
  transform: scale(2);
}
.logo {
  width: 20px;
  height: 20px;
  background-color: #A561FF;
  animation-name: logo;
  animation-duration: 4s;
  position: relative;
  animation-iteration-count: infinite;
}
@keyframes logo  {
  0%  {background-color: #A561FF; left:  0px; top: 0px}
  25% {background-color: #FD72AD; left: 30px;top:  0px}
  50% {background-color: #3498DB; left: 30px;top: 30px}
  75% {background-color: #34495E; left:  0px;top: 30px}
  100%{background-color: #A561FF; left:  0px;top:  0px}
}
ul {
  list-style-type: none;
}
.header {
  height: 52px;
}
.meau {
  top: -20px;
  left: 25px;
  float: left;
  position: relative;
}
.meau-item {
  font-family: sans-serif;
  font-size: xx-large;
  color: #FD72AD;
  float: left;
  position: relative;
}
